.btn {
    background-color: #008CBA; 
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 3px 2px;
    cursor: pointer;
}
input[type=text] {
    border: none;
    font-size: 18px;
    height: 40px;
    border-bottom: 4px;  
 }
 select {
    width: 50%;
    padding: 12px 14px;
    border: none;
    border-radius: 5px;
    color: rgb(19, 6, 6);
    background-color: #ece4f5;  
}


#dropdownApp {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
  }
  
  #dropdownApp td, #dropdownApp th {
    border: 1px solid #ddd;
    padding: 6px;
  }
  
  #dropdownApp tr:nth-child(even){background-color: #f2f2f2;}
  
  
  #dropdownApp th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: rgb(76, 107, 175);
    color: white;
  }
  option {
    background-color: rgb(231, 236, 231)
  }



  